@{
    ViewData["Title"] = "Home Page";
}
 
 
@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
}
else
{
    <p>Home controller</p>
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}