

@{
    ViewData["Title"] = "aaaa";
}

<label class="control-label">Назва</label>
<input type="text" class="form-control" placeholder="Скріншот" aria-label="Username" aria-describedby="basic-addon1">

<div id="selectBlock">
</div>

<div class="mb-2">
    <label class="control-label">Посилання для YouTube плеєру</label>
    <input type="text" class="form-control" placeholder="Наприклад: https://www.youtube.com/watch?v=...">
    <label class="control-label">Порядковий номер для сортування</label>
    <input type="text" class="form-control" placeholder="">
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" class="btn btn-success">Готово</button>
        </div>
        <div class="col text-center">
            <button type="button" class="btn btn-danger">Вилучити</button>
        </div>
    </div>
</div>